.notice_box{
    width: 80rem;
    height: 60rem;
}

.notice{
	margin-left: 18rem;
    width: 47rem;
    height: 58rem;
}

.left-sideBar{
    border-right: 2px solid #f8f8f8;
    width: 15rem;
    height: 55rem;
    float: left;
    line-height: 3rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.tableName{
	text-align: center;
	font-weight: bold;
	height: 3rem;
}

.tableDate{
	text-align: center;
	font-weight: bold;
	height: 3rem;
}

th.announceContent{
	border: 2px solid lightgray;
	width: 500px;
	height: 80px;
	text-align: center;
	border-radius: 5rem;
	font-weight: bold;
	box-shadow: 1px 11px 3px -6px lightgray;
	background-color: #f8f8f8;
}

td.announceContent{
    border-left: 4px solid #f8f8f8;
    border-top: 0px solid white;
    border-right: 4px solid #f8f8f8;
    border-bottom: 4px solid #f8f8f8;
    text-align: center;
    font-weight: bold;
}
}

#nameText:hover{
	color: gray;
}

.contentName:hover{
	background-color: #f8f8f8;
	box-shadow: 3px 3px 3px 3px gray inset;
}

.contentDate{
	border: 2px solid lightgray;
	width: 100px;
	height: 80px;
	text-align: center;
	border-radius: 5rem;
	margin-left: 10rem;
	font-weight: bold;
}

.contentDate:hover{
	
}

h2{
	text-align: center;
    margin-top: 1.5rem;
    margin-right: 8rem;
    width: 800px;
    border-bottom: 5px solid #f8f8f8;
    line-height: 5rem;
}

.top_box{
	border: 3px solid blue;
	height: 150px;
}

.bottom_box{
	border: 3px solid red;
}

.table1{
	border-spacing: 30px;
	width: 57rem;
}

.guide{
    width: 100%;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    margin-top: 1rem;
    background-color: #f9f9f9;
}

.qna{
	width: 100%;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    margin-top: 1rem;
}

#announcement{
}

#qna{
}

#tableBox{
	margin-left: 4rem;
}

.list_btn_box{
	text-align: center;
    width: 130px;
    margin-top: 1rem;
    height: 50px;
    margin-left: 25rem;
}

button{
	    display: block;
    /* position: relative; */
    float: left;
    width: 100px;
    padding: 0;
    margin: 10px 10px 10px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 10rem;
    transition: all 0.2s;
    cursor: pointer;
    height: 40px;
    border: 0px;
}

.buttonA{
    transition: all 0.2s;
    cursor: pointer;
}

.btnColor{
	background: revert;
}
.btnColor.btnPush{
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.btnColor.btnPush:hover{
	box-shadow: 0px 0px 0px 0px lightgray;
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}