.intro-box{
    width: 80rem;
    height: 60rem;
}

.left-sideBar{
    border-right: 2px solid #f8f8f8;
    width: 15rem;
    height: 55rem;
    float: left;
    line-height: 3rem;
    margin-top: 0.5rem;
}

.site-intro{
    width: 100%;
    font-weight: bold;
    background-color: #f9f9f9 !important;
    border-radius: 10rem;
    text-align: center;
}

#intro-hover:hover{
    color: #bbb;
}

.guide{
    width: 100%;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    margin-top: 1rem;
}

#guide-hover:hover{
    color: #bbb;
}

.location{
    background-color: #f8f8f8;
    padding: 7px;
    height: 2.3rem;
}

.clearFix{
    max-width: 1500px;
    margin: 0 auto;
    height: 3rem;
}

.home img{
    width: 0.9rem;
    height: 0.9rem;
}

.clearFix li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.name-content{
    width: 60rem;
    height: 4rem;
    float: right;
    line-height: 3.5rem;
    margin-top: 1rem;
}

.request-content{
    width: 63rem;
    height: 53rem;
    float: right;
}

p{
    font-size: 20px;
    font-weight: bold;
}

#search_level{
    border: 2px solid black;
    width: 100px;
    height: 40px;
}

option{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.check_box{
    width: 3rem;
    height: 2.5rem;
}

.packageName{
    width: 12rem;
    height: 3rem;
}

.people{
    width: 6rem;
}

.price{
    width: 7rem;
}

.subPrice{
    width: 7rem;
}

.subPrice-difficulty{
    width: 5rem;
}

.table_menu{
    font-weight: bold;
    background-color: rgb(189, 236, 255);
}

.send_button_box{
    width: 60rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    float: left;
}

#send_button{
    width: 5.5rem;
    height: 2.5rem;
}

#send_button:hover{
    background-color: #f8f8f8;
}

#level_check{
    float: right;
    margin-top: 0.5rem;
    margin-right: 5rem;
    width: 4rem;
    height: 2.5rem;
}

#name_check{
    float: right;
    margin-top: 0.5rem;
    margin-right: 5rem;
    width: 4rem;
    height: 2.5rem;
}

.content_list_box{
	width: 43rem;
    margin-left: 23rem;
    background-color: #f2f3f9;
    line-height: 3rem;
    border-radius: 3rem;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: -5px -5px 5px #fff, 5px 5px 5px #dee1e0;
}
	
}

#addbtn {
    text-align: center;
}
	
img{
	width: 280px;
    height: 200px;
    border-radius: 1.5rem;
}

#pakage{
	border: 1px solid #6ea3d9;
    background-color: #d7f4ff;
    border-radius: 16px;
    box-shadow: inset 0 0 8px #2db3f3;
    width: 230px;
    height: 160px;
    font-size: 25px;
    font-weight: bold;
}

table{
    width: 650px;
    border: 3px solid #ffffff;
    border-radius: 18px;
    box-shadow: 0px 0px 2px #f7f7f7, 0px 0px 2px #d2d4d5;
}

th{
    border: 1px solid #ffffff;
    background-color: #fafdff;
    border-radius: 10px;
    box-shadow: inset 0 0 8px #2db3f3;
}

td{
	border: 2px solid #f9f9f9;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

tr{
	border: 1px solid black;
}

td#pakageNameF {
    width: 110px;
    text-align: center;
    font-size: 23px;
}

.table_line{
	border: 1px solid black;
}

button{
    width: 100px;
    padding: 0;
    margin: 10px 10px 10px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 10rem;
    transition: all 0.2s;
    cursor: pointer;
    height: 40px;
    border: 0px;
    margin-top: 1.5rem;
}

.buttonA{
    transition: all 0.2s;
    cursor: pointer;
}

.btnColor{
	background: #ebecf0;
}
.btnColor.btnPush{
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.btnColor.btnPush:hover{
	box-shadow: 0px 0px 0px 0px lightgray;
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}

.left_content {
    text-align: center;
}

.study_content_th{
	width: 200px;
}
