@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
       
       #wrap_container{
		    width: 550px;
		    height: 500px;
		    margin: auto;
		    background-color: #ebecf0;
		    justify-content: center;
		    align-items: center;
		    padding: 20px;
		    margin-top: 7rem;
		    margin-left: 28rem;
		    border-radius: 2rem;
		    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #dee1e0;
        }
        
        #id_answer{
        	font-size : 20px;
        }
        
         
        
        #title{
        	display: flex;
        	justify-content: center; /* 수평 가운데 정렬 */
            align-items: center; /* 수직 가운데 정렬 */
         /*   border : 1px solid black; */
            height : 60px;
        }
        
        .mb-4 {
        	display: flex;
        	justify-content: center; /* 수평 가운데 정렬 */
           
        }
        
        #form-group{
        	display: flex;
        	justify-content: center; /* 수평 가운데 정렬 */
            align-items: center; /* 수직 가운데 정렬 */
        }
        
        #email {
            height : 30px;
            width : 90%;
            font-weight: bold;
        }
        
        #findId_login{
        	height : 40px;
        	width : 100%;
        }

form input {
	  background: #eee;
	  padding: 16px;
	  margin: 8px 0;
	  width: 65%;
	  border: 0;
	  outline: none;
	  border-radius: 20px;
	  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
	  margin-top: 1rem;
}

button{
	  border-radius: 20px;
	  border: none;
	  outline: none;
	  font-size: 12px;
	  font-weight: bold;
	  padding: 15px 45px;
	  margin: 14px;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  cursor: pointer;
	  transition: transform 80ms ease-in;
	  width: 180px;
}

.buttonA{
    transition: all 0.2s;
    cursor: pointer;
	box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.btnColor{
	background: revert;
}
.btnColor.btnPush{
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}

.btnColor.btnPush:hover{
	box-shadow: 0px 0px 0px 0px lightgray;
}

#findId_login{
	width: 
}

div#login_btn2 {
    margin-top: 2rem;
    text-align: center;
}

#findId_login {
    text-align: center;
}

.form-group {
    text-align: center;
}

h2{
	text-align: center;
	line-height: 4rem;
}

h4{
	text-align: center;
	line-height: 4rem;
}

.findPw_submit{
	text-align: center;
}
        