.intro-box{
    width: 80rem;
    height: 60rem;
}

.left-sideBar{
    border-right: 2px solid #f8f8f8;
    width: 15rem;
    height: 55rem;
    float: left;
    line-height: 3rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.site-intro{
    width: 100%;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
}

#intro-hover:hover{
    color: #bbb;
}

.guide{
    width: 100%;
    font-weight: bold;
    border-radius: 10rem;
    text-align: center;
    margin-top: 1rem;
    background-color: #f9f9f9;
}

#guide-hover:hover{
    color: #bbb;
}

.location{
    background-color: #f8f8f8;
    padding: 7px;
    height: 2.3rem;
}

.clearFix{
    max-width: 1500px;
    margin: 0 auto;
    height: 3rem;
}

.home img{
    width: 0.9rem;
    height: 0.9rem;
}

.clearFix li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.intro-content{
	margin-left: 22rem;
    width: 47rem;
    height: 58rem;
    margin-top: 1.5rem;
}

h1{
    text-align: center;
    margin-top: 1rem;
    border-bottom: 5px solid #ebecf0;
    line-height: 7rem;
}

.guide_image{
	text-align: center;
}

img#guide_image {
    text-align: center;
    display: flex;
}