.intro-box{
    width: 80rem;
    height: 60rem;
    max-height: 60rem;
}

.site-intro{
    width: 100%;
    font-weight: bold;
    background-color: white;
    border-radius: 10rem;
    text-align: center;
}

#intro-hover:hover{
    color: #bbb;
}


#guide-hover:hover{
    color: #bbb;
}

.location{
    background-color: #f8f8f8;
    padding: 7px;
    height: 2.3rem;
}

.clearFix{
    max-width: 1500px;
    margin: 0 auto;
    height: 3rem;
}

.home img{
    width: 0.9rem;
    height: 0.9rem;
}

.clearFix li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.name-content{
    width: 60rem;
    height: 4rem;
    float: right;
    line-height: 3.5rem;
    margin-top: 1rem;
	font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.table-fill {
	  border-collapse: collapse;
	  margin: auto;
	  max-width: 900px;
	  padding: 5px;
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	  animation: float 5s infinite;
		margin-top: 7rem;
}

th {
  color: #3b3b3b;
  background: #d2d2db;
  border-bottom: 3px solid #b7b4b4;
  border-right: 1px solid #343a45;
  font-size:19px;
  font-weight: bold;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
	height: 70px;
}

p{
    font-size: 20px;
    font-weight: bold;
}


option{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

table{
    text-align: center;
}


tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background: #f5f5f9;
  color: black;
  border-top: 1px solid #22262e;
}

.check_box {
    width: 65px;
}

.contentName{
	width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.readerName{
	width: 100px;
	height: 100px;
}

.workContent{
	width: 220px;
	height: 100px;
}

.top_workContent{
	width: 220px;
	height: 70px;
}

.sendDate{
	width: 120px;
	height: 100px;
}

.studyContent{
	width: 350px;
	height: 100px;
    
}

.top_people {
    max-width: 150px;
    width: 150px;
    height: 70px;
}

.people{
	max-width: 150px;
    width: 150px;
    height: 100px;
}

.table_menu{
    font-weight: bold;
    background-color: #bebec5;
    color: #3b3b3b;
    font-size: 19px;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
    height: 70px;
}

#check{
    float: right;
    margin-top: 0.5rem;
    margin-right: 5rem;
    width: 4rem;
    height: 2.5rem;
}

#content_send_box{
	width: 280px;
	height: 80px;
	margin-right: 0.8rem;
	padding: 20px;
    width: 65%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #c6c6c6, inset -5px -5px 12px #fff;
}

.contentName:hover{
	background-color: #ebecf0;
	cursor: pointer;
	transition: transform 80ms ease-in;
}

.top_price{
	height: 70px;
	width: 120px;
}

.price{
	height: 100px;
	width: 120px;
}

.button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin: 14px;
    letter-spacing: 1px;
    transition: all 0.2s;
    cursor: pointer;
	box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
	background-color: #ebecf09e;
}

}

.btnColor{
	background-color: #ebecf0;
}
.btnColor.btnPush{
	box-shadow: -1px -1px 10px #fff, 2px 3px 3px #babebc
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}

.btnColor.btnPush:hover{
	background-color: #ebecf0;
	box-shadow: 3px 3px 3px 3px lightgray inset;
}

.top_content{
	width: 100px;
	height: 70px;
}

.top_leader{
	width: 100px;
	height: 70px;
	
}

.top_content_info{
	width: 220px;
	height: 70px;
	
}

.top_deadline{
	width: 120px;
	height: 70px;
}

.top_content_send{
	width: 350px;
	height: 70px;
}

.bottom-button_box{
	height: 85px;
	text-align: center;
	line-height: 4.7rem;
}

strong:hover{
	color: #8d8c8cb8;
}

.buttonS {
    width: 60px;
    height: 40px;
    border: 3px solid #ebecf0;
}

.buttonS:hover {
    background-color: #ebecf0;
    color: #8d8c8cb8;
}

.main-content-box{
    max-width: 1050px;
    height: 950px;
    margin-left: 250px;
    width: 1050px;
    max-height: 950px;
}

.container.d-flex.justify-content-center {
    width: 900px;
    margin-left: 18rem;
    height: 100px;
    margin-top: 18.3rem;
}

.send_button_box {
    margin-top: 1rem;
    text-align: center;
}

.buttonA {
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  margin: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}


.buttonA{
    transition: all 0.2s;
    cursor: pointer;
	box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.buttonB{
        transition: all 0.2s;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 80px;
    height: 50px;
}

.btnColor{
	background: revert;
}
.btnColor.btnPush{
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}

.btnColor.btnPush:hover{
	box-shadow: 0px 0px 0px 0px lightgray;
}

td{
	font-weight: bold;
}

.top_subPrice{
	max-width: 120px;
	width: 120px;
	height: 70px;
}

.subPrice{
	width: 120px;
	max-width: 120px;
	height: 100px;
}

th.top_sale {
    max-width: 100px;
    width: 100px;
    height: 70px;
}

.sale{
	max-width: 100px;
    width: 100px;
    height: 100px;
}

.top_level {
    width: 50px;
    max-width: 50px;
    height: 70px;
}

.level{
	width: 50px;
	max-width: 50px;
	height: 100px;
}

.top_yn{
	width: 50px;
	max-width: 50px;
    height: 70px;
}

.yn{
	width: 50px;
	max-width: 50px;
    height: 100px;
}

select#content_id {
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(203, 203, 203);
    background-color: #f5f5f9;
}

input {
    background: #f5f5f9;
    padding: 16px;
    margin: 8px 0;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
    margin-top: 1rem;
}

.homeworkContent {
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    text-align: center;
    max-width: 500px;
    max-height: 150px;
}

.bottom__box {
    text-align: center;
    margin-top: 2rem;
}

.deadlineBox {
    text-align: center;
    line-height: 2.5rem;
    margin-top: -1rem;
}