.regi_area {
	width: 80rem;
	align-items: center;
	
	/*border : 3px solid black;*/
	height: 75rem;
	/* background-color: bisque; */
}

.regi_center {
	width: 45rem;
    margin-left: 23rem;
    background-color: #f5f6f8;
    line-height: 2rem;
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #dee1e0;
}

.regi_logo {
	width: 100%;
	text-align: center;
	margin: 2.5rem 0;
	font-size: 2.2rem;
	font-weight: bold;
}

div[class^=regi_box] {
	font-size: 1.2rem;
	margin: 1rem 0;
}

div[class^=regi_box] input {
	margin: 0.4rem 0;
	width: 100%;
	height: 2.5rem;
	font-size: 0.9rem;
	padding: 1rem;
}

.regi_button {
	width: 100%;
	height: 3rem;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	border-radius: var(- -border-radius);
}

#button_register:hover {
	background-color: var(- -main-color-hover);
	color: gray;
}

div[class^=regi_box] input {
	width: 100%;
	height: 2rem;
	border: none;
	border: 1px solid rgb(177, 177, 177);
}

.regi_social_regi {
	width: 100%;
}

.regi_social_regi [class^='regi'] {
	width: 100%;
	height: 3.3rem;
	background-color: white;
	border: 1px solid rgb(203, 203, 203);
	border-radius: var(- -border-radius);
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
	cursor: pointer;
}

.regi_social_regi [class^='regi']:hover {
	background-color: #f3f3f3;
}

.regi_box_pw {
	margin-top: 1rem;
}

input:focus {
	outline: 2.5px solid var(- -main-color);
	border-radius: 0.3rem;
	box-shadow: none;
}

.regi_box_phone div h5 {
	display: flex;
	float: left;
	gap: 1rem;
}

.phoneCheck {
	border-radius: var(- -border-radius);
	color: white;
	background-color: var(- -main-color);
	width: 8rem;
	font-size: 0.9rem;
	border: none;
}

.phoneCheck:hover {
	background-color: var(- -main-color-hover);
}

.regi_box_phone_check.active {
	display: flex;
	gap: 1rem;
}

.errors {
	color: red;
	font-size: 0.9rem;
	margin-top: -1rem;
}

.errorsborder {
	border: 2px solid rgb(255, 114, 114);
}

#button_register {
	font-weight: bold;
	text-align: center;
	width: 100px;
    height: 40px;
    border: 2px solid lightgray;
}

.regi_box_id div {
	display: flex;
}

#idCheck {
	border: 2px solid lightgray;
	text-align: center;
	width: 100px;
	height: 40px;
	margin-left: 1.5rem;
}

#id_check:hover {
	background-color: #ceccccd7;
}

.id_check_box {
	width: 100%;
	height: 2rem;
}

.regi_box_pw div {
	display: flex;
	float: left;
}

.regi_box_pw_check div {
	display: flex;
	float: left;
}

.regi_box_birth div {
	display: flex;
	float: left;
}

.regi_box_member {
	
}

.regi_box_member div {
	display: flex;
	float: left;
}

.member_check {
	margin-left: 1rem;
}

#userType {
	width: 7rem;
	height: 3rem;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid rgb(203, 203, 203);
	background-color: #f6f6f6;
}

.star {
	color: red;
}

.check {
	margin-bottom: 2rem;
	font-size: 16px;
}

.check label {
	margin-left: 0px;
}

#male {
	border: 3px solid red;
}

#female {
	border: 3px solid black;
}

.id_check_box {
	/*border : 1px solid black;*/
	height: 45px;
}

#userId {
	width: 78%;
	margin-top: 0.8rem;
}

#idbox {
	/*border : 1px solid blue;*/
	width: 100%;
}

#id1 {
	/*border : 1px solid red;*/
	text-align: left;
	margin-left: 0px;
}

#registMsg {
	/*border : 1px solid black;*/
	font-size: 15px;
	text-align: right;
	margin-right: 0px;
}

.gender_box{
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

button{
  	display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 10px 10px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.btnColor{
	background: revert;
}
.btnColor.btnPush{
	box-shadow: 0px 5px 0px 0px silver;
}

.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
}

.btnColor.btnPush:hover{
	box-shadow: 0px 0px 0px 0px lightgray;
}

#idCheck:hover {
    background-color: #f6f6f6;
    border: 2px solid lightgray;
    color: darkgray;
}