.group_sales{
    border: 3px solid blue;
    height: 40rem;
    width: 37rem;
    float: left;
    padding : 20px;
}

.content_name{
    border: 1px solid black;
    width: 22rem;
    float: left;
}



.group_sales h1{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.left_content{
    height: 20rem;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
    line-height: 2rem;
}

span{
    color: red;
}

#add_button{
    margin-left: 5rem;
    margin-top: 2rem;
    height: 2rem;
}

.pakage_select{
    margin-top: 2rem;
    height: 2rem;    
}

#learning_content{
	resize: none; /* 사용자가 크기 조절하지 못하게 설정 */
}

#salesChart{
	border : 1px solid black;
	height : 200px;
}