@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

.group-content-box{
    width: 630px;
    height: 500px;
    margin: auto;
    background-color: #ebecf0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 7rem;
    margin-left: 28rem;
    border-radius: 2rem;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #dee1e0;
}

.send_button_box{
    width: 40rem;
    height: 5rem;
    text-align: center;
    line-height: 4rem;
    margin-left: 26.5rem;
}

.group_content{
    height: 25rem;
    padding: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#result{
    width: 550px;
    height: 230px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20rem;
    margin-top: 6rem;
    line-height: 2.5rem;
}

#select{
    width: 100px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
    margin-top: 0.5rem;
}

#select_info{
    width: 100px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
        margin-top: 0.5rem;
}

#left_info{
    float: left;
    width: 250px;
    height: 60px;
    border-right: 2px solid black;
    line-height: 2rem;
}


        #id_answer{
        	font-size : 20px;
        }
        
         
        
        #title{
        	display: flex;
        	justify-content: center; /* 수평 가운데 정렬 */
            align-items: center; /* 수직 가운데 정렬 */
         /*   border : 1px solid black; */
            height : 60px;
        }
        
        .mb-4 {
        	display: flex;
        	justify-content: center; /* 수평 가운데 정렬 */
           
        }
        
        #form-group{
        	display: flex;
        	justify-content: center; /* 수평 가운데 정렬 */
            align-items: center; /* 수직 가운데 정렬 */
        }
        
        #email {
            height : 30px;
            width : 90%;
            font-weight: bold;
        }
        
        #findId_login{
        	height : 40px;
        	width : 100%;
        }

form input {
	  background: #eee;
	  padding: 16px;
	  margin: 8px 0;
	  width: 65%;
	  border: 0;
	  outline: none;
	  border-radius: 20px;
	  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
	  margin-top: 1rem;
}

button{
	  border-radius: 20px;
	  border: none;
	  outline: none;
	  font-size: 12px;
	  font-weight: bold;
	  margin: 14px;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  cursor: pointer;
	  transition: transform 80ms ease-in;
	  width: 150px;
	  height: 50px;
}

.btnColor{
	background: #ebecf0;
}
.btnColor.btnPush{
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}


.btnPush:hover{
	margin-top: 15px;
  	margin-bottom: 5px;
  	background: #f1f2f7;
}

.btnColor.btnPush:hover{
	box-shadow: 0px 0px 0px 0px #f1f2f7;
}

#findId_login{
	width: 
}

div#login_btn2 {
    margin-top: 2rem;
    text-align: center;
}

#findId_login {
    text-align: center;
}

.form-group {
    text-align: center;
}

h2.join_info {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 4px solid #F8F8F8;
    line-height: 4.5rem;
}


.group_select_view{
	margin-top: 1.5rem;
}

.group_name_color{
	color: red;
}