<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geomin.mapper.AnnouncementMapper">
  	<insert id="announceInsert" >
  	<selectKey keyProperty="announcement_id" order="BEFORE" resultType="String">
  		select SEQ_announcement.NEXTVAL from dual
	</selectKey>
        INSERT INTO ANNOUNCEMENT (ANNOUNCEMENT_ID, announcement_type, TITLE, ANNOUNCEMENT_CONTENT, ANNOUNCEMENT_DATE)
        VALUES (#{announcement_id}, #{announcement_type}, #{title}, #{announcement_content}, #{announcement_date})
    </insert>
    
     <select id="getAllAnnouncements" resultType="com.geomin.vo.AnnouncementVO">
        SELECT * FROM ANNOUNCEMENT where announcement_type = #{type}
    </select>
    
    <select id="getAnnouncementById" parameterType="String" resultType="com.geomin.vo.AnnouncementVO">
    SELECT * FROM ANNOUNCEMENT WHERE ANNOUNCEMENT_ID = #{announcement_id}
</select>
    
  </mapper>