<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geomin.mapper.ContentMapper">

	<select id="contentList" resultType="com.geomin.vo.ContentVO">
	
	select 
    content_name, learning_difficulty, learning_member,
    price, sale, (price - (price * sale)) as real_price 
    from content
	
	</select>

  </mapper>