<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geomin.mapper.ContentMapper">

	<select id="contentList" resultType="com.geomin.vo.ContentVO">
	<![CDATA[
	select 
    content_id,content_name, learning_difficulty, learning_member,
    TO_CHAR(price, '9,999,999') as price, sale ||'%' as sale, to_char((price - (price * (sale / 100))),'9,999,999') as real_price, learning_content 
    from content
    where 1=1
	]]>
	<include refid="learning_difficulty"></include>
	</select>
	
	<select id="subContentList" resultType="com.geomin.vo.SubScriptionVO">
	
	select s.content_id ,c.CONTENT_NAME, c.LEARNING_MEMBER, TO_CHAR(c.price, '9,999,999') as price, to_char((c.price - (c.price * (c.sale / 100))),'9,999,999') as real_price,
		 c.LEARNING_DIFFICULTY, c.LEARNING_CONTENT, s.subscription_date,s.paystatus
	from content c, subscription s
	where c.content_id = s.content_id
	and s.user_id = #{user_id}
	order by s.subscription_date DESC
	
	</select>

	<select id="groupApproval" resultType="com.geomin.vo.SubScriptionVO">
	<![CDATA[
	    select l.content_id, c.content_name, g.group_name,l.learner_name , l.group_appdate,
      		  s.TOTAL_PERSONNEL, s.current_personnel, l.groupyn, s.user_id, l.user_id_learner 
	    from learner_group l, content c, SUBSCRIPTION s, groups g
	    where c.content_id = l.content_id
		    and s.content_id = l.content_id
		    and g.group_id = l.group_id
			and s.user_id = #{user_id}
	]]>
			<include refid="sel_name"></include>
	</select>


	<select id="option_content_id" resultType="com.geomin.vo.SubScriptionVO">
		select distinct content_id, content_name
	            from subscription
	            where user_id = #{user_id}
	            order by content_id asc
	</select>


	<insert id="insertgroup">
	<selectKey keyProperty="group_id" order="BEFORE" resultType="String">
  		select 'G' || LPAD(SEQ_groups.NEXTVAL, 4, '0') from dual
	</selectKey>
	insert into groups values(#{group_id}, #{user_id_leader}, #{content_id},#{group_name}, #{group_personnel},#{learning_start} ,#{learning_end})
	
	</insert>

	<insert id="insertSubContent">

	insert into subscription 
		select #{user_id}, content_id, content_name, sysdate, (price - (sale* price)) as real_price,
		    LEARNING_MEMBER, 0,'Y'
		    from content
		    where content_id = #{content_id}
	
	</insert>

	
	<update id="payStatusUpdate">
    update subscription set paystatus = 'C' where content_id = #{content_id }
    </update>
    
    <insert id="insertContentPay">
    insert into sales (SUBSCRIPTION_DATE, CONTENT_ID, TRANSACTION_COUNT, SALES)
            (select sysdate, content_id, '1', (price - (price * sale)) 
            from content
            where content_id = #{content_id})
    </insert>
    
    <delete id="deletePay">
    delete from sales where content_id = #{content_id}
    </delete>
    
    
    <update id="updateGroupyn">
           update LEARNER_GROUP
		    set groupyn = 'Y'
		    where user_id_learner= #{user_id_learner}
    </update>

	<update id="add_current">
	    update subscription
	    set CURRENT_PERSONNEL = CURRENT_PERSONNEL + 1
	    where content_id = '0003'
	</update>
    
    
    
    
    
   	<sql id="sel_name">
		<choose>
   			<when test="content_name != null and content_name != ''">
		      	and s.content_name = #{content_name}
		    </when>
		</choose>
		
	</sql>
    
    <sql id="learning_difficulty">
		<choose>
   			<when test="learning_difficulty != null and learning_difficulty != ''">
		      	and learning_difficulty = #{learning_difficulty}
		    </when>
		</choose>
		
	</sql>
    
  </mapper>