<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geomin.mapper.GroupJoinMapper">
	
	<insert id="groupAdd" parameterType="java.lang.String">
		insert into learner_group (user_id_learner, user_id_leader
		, group_id, content_id, learner_name, group_appdate, groupyn)
		select users.user_id, groups.user_id_leader, groups.group_id
		, groups.content_id, users.user_name, sysdate, 'N'
		from users
		inner join groups on users.user_id = #{user_id}
	</insert>
	
	<select id = "userInfo" resultType="com.geomin.vo.UserVO">
		select * from users where user_id = #{user_id, jdbcType=VARCHAR}
	</select>
</mapper>