<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geomin.mapper.HomeWorkMapper">
	
	<!-- 숙제 목록 조회 -->
	<select id="getList" resultType="com.geomin.vo.HomeWorkVO">
		select * from homework,users where user_id = user_id_learner and user_id = #{user_id}
	</select>
	
	<!-- 학습자 이름 조회 -->
	<select id="getUserName" resultType="com.geomin.vo.UserVO">
		select * from users where user_id = #{user_id}
	</select>
	
	<!-- 학습지도자 이름 조회 
	<select id="getLeaderName" resultType="com.geomin.vo.UserVO">
		select distinct users.user_id, user_name, homework.user_id_leader from users
		, homework where homework.user_id_leader = users.user_id and users.user_id = 'ID1'
	</select>-->
	
	<select id="getLeaderName" resultType="com.geomin.vo.HomeWorkVO">
		select distinct user_name from homework,users where user_id_leader = user_id and user_type = '1'
	</select>
	
	<!-- 학습 콘텐츠명 조회 -->
	<!-- 학습그룹 학습자 테이블 에서 학습숙제 내역 테이블의 회원ID, 학습컨텐츠ID 조인필요 -->
	<select id="getContentName" resultType="com.geomin.vo.ContentVO">
		select content.content_id, content.content_name from content, homework 
		where homework.content_id = content.content_id and homework.content_id = '0002'
	</select>
	
	<!-- 그룹 정보 조회 -->
	<select id = "getGroupInfo" resultType = "com.geomin.vo.GroupVO">
		select * from groups
	</select>
	
	<!-- 그룹 id 조회 -->
	<select id = "getGroupId" resultType = "com.geomin.vo.GroupVO">
		select group_id from groups
	</select>
	
</mapper>