<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geomin.mapper.HomeWorkMapper">
	
	<!-- 숙제 목록 조회 -->
	<select id="getList" resultType="com.geomin.vo.HomeWorkVO">
	    SELECT
	    c.content_id,
	    c.content_name,
	    TO_CHAR(h.homework_deadline, 'yyyy-MM-dd') AS homework_deadline,
	    h.homework_content_leader,
	    h.homework_content_learner,
	    (SELECT user_name FROM users WHERE user_id = h.user_id_leader) AS user_id_leader
		FROM
	    homework h,
	    users u,
	    content c
		WHERE
	    u.user_id = h.user_id_learner
	    AND u.user_id = #{user_id}
	    AND h.content_id = c.content_id
		ORDER BY
	    h.homework_deadline ASC
	</select>

	
	<!-- 학습자 이름 조회 -->
	<select id="getUserName" resultType="com.geomin.vo.UserVO">
		select * from users where user_id = #{user_id}
	</select>
	
	<!-- 학습지도자 이름 조회 -->
	<select id="getLeaderName" resultType="com.geomin.vo.HomeWorkVO">
		select distinct u.user_name from users u
		join homework h on (u.user_id = h.user_id_leader)
		where h.user_id_leader = #{user_id_leader, jdbcType=VARCHAR}
	</select>
	
	<!-- 학습 콘텐츠명 조회 -->
	<select id="getContentName" resultType="com.geomin.vo.ContentVO">
		select content_name from users, homework, content where users.user_id 
		= #{user_id} and #{user_id} = homework.user_id_learner 
		and homework.content_id = content.content_id
	</select>
	
	<!-- 그룹 정보 조회 -->
	<select id = "getGroupInfo" resultType = "com.geomin.vo.GroupVO">
		select * from groups
	</select>
	
	<!-- 그룹 id 조회 -->
	<select id = "getGroupId" resultType = "com.geomin.vo.GroupVO">
		select group_id from groups where group_id = #{group_id};
	</select>
	
	<!-- 학습 내용 제출 -->
	<update id="update">
	    update homework
	    set homework_content_learner = #{homework_content_learner}
	    , homework_subdate = sysdate
	    where user_id_learner = #{user_id_learner}  
	</update>

	<select id="groupLogin" resultType="int">
	    select count(*)
	    from users
	    left join learner_group on users.user_id = learner_group.user_id_learner
	    where user_type = 2 and group_id is not null
	    and user_id = #{user_id}
	</select>



	
</mapper>