<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.geomin.mapper.ManagementMapper">
	<insert id="insert">
	<selectKey keyProperty="content_id" order="BEFORE" resultType="String">
  		select LPAD(SEQ_groups.NEXTVAL, 4, '0') from dual
	</selectKey>
    	insert into content (content_id, content_name, learning_difficulty, learning_member, price, sale, real_price, learning_content)
    	 values (#{content_id}, #{content_name}, #{learning_difficulty}
    	 , #{learning_member}, #{price}, #{sale}, #{real_price}, #{learning_content})

    </insert>
    
    <select id="contentList" resultType="com.geomin.vo.ContentVO">
		select * from content
	</select>

	 <select id="yearSaleList" resultType="com.geomin.vo.SubScriptionVO">
        SELECT EXTRACT(YEAR FROM subscription_date) AS subscription_date,
               COUNT(content_id) AS content_id,
               SUM(subscription_price) AS subscription_price
        FROM SUBSCRIPTION
        WHERE content_name = #{contentName}
        GROUP BY EXTRACT(YEAR FROM subscription_date)
        ORDER BY subscription_date
    </select>



	
</mapper>