<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.geomin.mapper.ManagementMapper">
	<insert id="insert">
	<selectKey keyProperty="content_id" order="BEFORE" resultType="String">
  		select LPAD(SEQ_groups.NEXTVAL, 4, '0') from dual
	</selectKey>
    	insert into content (content_id, content_name, learning_difficulty, learning_member, price, sale, real_price, learning_content)
    	 values (#{content_id}, #{content_name}, #{learning_difficulty}
    	 , #{learning_member}, #{price}, #{sale}, #{real_price}, #{learning_content})

    </insert>
    
    <select id="contentList" resultType="com.geomin.vo.ContentVO">
		select * from content
	</select>

	 <select id="yearSaleList" resultType="com.geomin.vo.SaleVO">
        SELECT EXTRACT(YEAR FROM subscription_date) AS subscription_date,
               COUNT(transaction_count) AS transaction_count,
               SUM(sales) AS sales
        FROM sales
        WHERE content_id = #{content_id}
        GROUP BY EXTRACT(YEAR FROM subscription_date)
        ORDER BY subscription_date
    </select>

	<select id="monthSaleList" resultType="com.geomin.vo.SaleVO">
		SELECT EXTRACT(month FROM subscription_date) AS subscription_date,
               COUNT(transaction_count) AS transaction_count,
               SUM(sales) AS sales
        FROM sales
        WHERE content_id = #{content_id} and EXTRACT(YEAR FROM subscription_date) = #{year}
        GROUP BY EXTRACT(month FROM subscription_date)
        ORDER BY subscription_date
	</select>

	<update id="emailEdit">
		update users set email = #{email}
		where user_id= #{user_id}
	</update>
	
</mapper>