<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.geomin.mapper.UserMapper">
	<select id="login" resultType="com.geomin.vo.UserVO">
		select * from users where user_id = #{user_id}
	</select>
	
	<select id="userList" resultType="com.geomin.vo.UserVO">
		select * from users
	</select>
	
	<insert id="insert">
	insert into users (user_id, user_name, user_pw, user_type, phonenumber, email, datebirth, gender) 
	values (#{user_id}, #{user_name}, #{user_pw}, #{user_type}
	, #{phonenumber}, #{email}, #{datebirth}, #{gender})
	</insert>
	
	<select id="idCheck" resultType="int">
		select count(*)
			from users
			where user_id=#{user_id}
	</select>
	
	<!-- 추가된 resultMap -->
    <resultMap type="com.geomin.vo.UserVO" id="UserVOResultMap">
        <result property="user_id" column="user_id" />
        <result property="user_pw" column="user_pw" />
        <result property="user_name" column="user_name" />
        <result property="user_type" column="user_type" />
        <result property="phonenumber" column="phonenumber" />
        <result property="email" column="email" />
        <result property="address" column="address" />
        <result property="datebirth" column="datebirth" />
        <result property="gender" column="gender" />
    </resultMap>
	
	<select id="findId" resultMap="UserVOResultMap">
		select * from users where email = #{email}
	</select>
	
	<select id="findPw" resultMap="UserVOResultMap">
    	select * from users where email = #{email} and user_id = #{user_id}
	</select>
	
	<update id="updatePw">
		update users
		set user_pw = #{user_pw}
		where user_id = #{user_id}
	</update>
	
	<update id="passwordEdit">
		update users set user_pw = #{user_pw} where user_id = #{user_id}
	</update>
</mapper>